@font-face {
 font-family: "JosefinRegular";
 src: url('./assets/fonts/josefinsans/JosefinSans-Regular.ttf')
}
@font-face {
 font-family: "JosefinLight";
 src: url('./assets/fonts/josefinsans/JosefinSans-Light.ttf')
}
@font-face {
 font-family: "Yeseva";
 src: url('./assets/fonts/yesevaone/YesevaOne-Regular.ttf')
}



